@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
}

/* Prevent the browser's text selection while dragging things around. */
.no-select,
.no-select * {
  user-select: none;
  -webkit-user-select: none;
}
